.section-1-expense-user {
    margin-top: 100px;

    form {
        max-width: 500px;
        margin: 0 auto;

        input {
            width: 100%;
            display: block;
            margin-top: 15px;
            padding: 7px 15px;
            border: none;
            outline: none;
            border-bottom: 1px solid rgb(182, 182, 182);
            line-height: 1.9rem;
            font-size: 1.1rem;
            font-family: var(--font-3);
            font-weight: 400;
        }

        input::placeholder {
            font-family: var(--font-2);
        }

        input:focus {
            border-bottom: 2px solid black;
        }

        textarea {
            width: 100%;
            margin-top: 30px;
            min-height: 50px;
            resize: none;
            field-sizing: content;
        }

        select {
            margin-top: 20px;
            padding: 10px 20px;
        }

        .btn-create-expense {
            display: block;
            width: 100%;
            margin-top: 30px;
            padding: 15px 0;
            background-color: rgb(44, 44, 44);
            border: none;
            color: white;
            cursor: pointer;
        }
    }
}



.section-2-get-expense-user {
    max-width: 550px;
    margin: 0 auto;

    ul {
        display: grid;
        gap: 35px;
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin-top: 50px;

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 50px;
            border-radius: 5px;
            background: #ffffff;
            box-shadow: 5px 5px 10px #e0e0e0,
                -5px -5px 10px #ffffff;
            font-weight: 500;
            padding: 0 20px;
        }

        li:hover {
            border-radius: 5px;
            background: #ffffff;
            box-shadow: 11px 11px 22px #e0e0e0,
                -11px -11px 22px #ffffff;
        }

        .content-icons-expense-user {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
}


.btn-close-modal {
    width: fit-content;
    border: none;
    display: block;
    width: fit-content;
    margin: auto;
    margin-right: 0;
}


.form-type-expense-update {
    width: 400px;

    input {
        width: 100%;
        display: block;
        margin-top: 15px;
        padding: 7px 15px;
        border: none;
        outline: none;
        border-bottom: 1px solid rgb(182, 182, 182);
        line-height: 1.9rem;
        font-size: 1.1rem;
        font-family: var(--font-3);
        font-weight: 400;
    }

    input::placeholder {
        font-family: var(--font-2);
    }

    input:focus {
        border-bottom: 2px solid black;
    }

    textarea {
        width: 100%;
        margin-top: 30px;
        min-height: 50px;
        resize: none;
        field-sizing: content;
    }

    select {
        margin-top: 20px;
        padding: 10px 20px;
    }

    .btn-type-expense-user-upgrade {
        display: block;
        width: 100%;
        margin-top: 30px;
        padding: 15px 0;
        background-color: rgb(44, 44, 44);
        border: none;
        color: white;
        cursor: pointer;
    }
}